/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #333;
}

/* NAVBAR */
nav ul {
    list-style: none;        /* remove bullets */
    display: flex;           /* MAKES NAV INLINE */
    gap: 20px;               /* space between items */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;         /* keeps items inline */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00bfff;
}
